.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: black;
  z-index: 1200;
}
.nav-btn {
  margin-top: auto;
}
.login-btn {
  background-color: black;
  padding-inline: 80px;
}
.signup-btn {
  padding-inline: 80px;
}

/*playerbar*/
.bg-container {
  min-height: 5.5rem;
  background-color: #282828;
  margin-top: auto;
}
.progress {
  color: white;
  background-color: #414141;
  height: 3px;
  max-width: 350px;
  margin-inline: auto;
}

/*main*/
.mainContainer {
  background: linear-gradient(90deg, rgb(63, 86, 119) 0%, rgba(33, 44, 61, 1) 42%, rgb(15, 21, 29) 100%);
}
.mainLinks {
  margin-top: 1.5rem;
  justify-content: space-evenly;
}

.mainLinks a {
  color: white;
  font-weight: 700;
  font-size: 12px;
  opacity: 0.3;
  text-decoration: none;
}

.mainLinks a:hover {
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}

.imgLinks a p,
.mainPage p {
  padding-top: 8px;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

#rock,
#pop,
#hiphop {
  color: white;
  font-weight: 700;
  padding-top: 50px;
}

#hipHopSection {
  margin-bottom: 7rem;
}

.mainPage img {
  width: 200px;
}